<h1>Burger Eatz</h1>

<h3>Eat, or add, a burger.</h3>

<ul>
	{{!-- use handlebar partials  --}}
	{{#each burgers}}
		{{#unless devoured}}
			<li>
				<p>Name: {{this.name}}</p>
				<button type="submit" class="update" data-id="{{this.id}}">Devour</button>
			</li>
		{{/unless}}
	{{/each}}
</ul>

<br><br>
Eaten Burgers
<hr>
<ul>
	{{!-- use handlebar partials  --}}
	{{#each burgers}}
		{{#if devoured}}
			<li>
				<p>Name: {{this.name}}</p>
			</li>
		{{/if}}
	{{/each}}
</ul>

{{!-- go directly to server --}}
{{!-- <form action="/" method="POST"> --}}
<form>
	{{!-- this wish name can be accessed on the backend as req.body.task --}}
	<textarea type="text" id="name"></textarea>

	<button type="submit" id="submit">Submit</button>
</form>
